html {
  scroll-behavior: smooth;
}

html { // http://bit.ly/1qk2tVR
	box-sizing: border-box;
}

* {
&,
&::after,
&::before {
  box-sizing: inherit;
}
}

body {

	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

	@media print {
		background-color: transparent;
	}
}


@media print {
	@page {
		size: (8.5in * 1.75) (11in * 1.75);
	}
}