// Heading mixins
@mixin title {
  font-size: $ds-title-font-size;
  font-weight: $ds-font-bold;
}

@mixin h1 {
  font-size: $ds-h1-font-size;
  font-weight: $ds-font-bold;
}

@mixin h2 {
  font-size: $ds-h2-font-size;
  font-weight: $ds-font-bold;
}

@mixin h3 {
  font-size: $ds-h3-font-size;
  font-weight: $ds-font-bold;
}

@mixin h4 {
  font-size: $ds-h4-font-size;
  font-weight: $ds-font-bold;
}

@mixin h5 {
  font-size: $ds-h5-font-size;
  font-weight: $ds-font-bold;
}

@mixin h6 {
  font-size: $ds-h6-font-size;
  font-weight: $ds-font-normal;
  line-height: $ds-base-line-height;
  text-transform: uppercase;
}

// Focus state mixin
@mixin focus {
  outline: $focus-outline;
  outline-offset: $focus-spacing;
}


// Screen reader only helper
@mixin sr-only() {
  position: absolute;
  left: -999em;
}

$breakpoints: (
  '(min-width: #{$screen-s})' 'S',
  '(min-width: #{$screen-m})' 'M',
  '(min-width: #{$screen-l})' 'L',
  '(min-width: #{$screen-xl})' 'XL'
);


@mixin breakpoint($point, $direction: 'up') {
  @each $breakpoint in $breakpoints {
    $query: nth($breakpoint, 1);
    $name: nth($breakpoint, 2);

    @if $direction == up {
      @if ($name == $point) {
        @media #{$query} { @content }
      }
    } @else {
      @if ($name == $point) {
        @media #{str-replace($query, "min", "max")} {
          @content
        }
      }
    }
  }
}

@mixin reset-ul() {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin reset-li() {

  display: list-item;
  margin: 0;
  padding: 0;
}


@mixin reset-button() {
  text-align: left;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
  user-select: text;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}